{:source-paths ["src/cljs"]
 :dependencies []
 :builds
 {:theme {:target :esm
          :output-dir "assets/js/cljs-output"
          :js-options {:js-provider :import}
          :modules {:main {:entries [gbo.core]
                           :init-fn [gbo.core/init]
                           :exports {exported_cljs_fn gbo.core/exported_cljs_fn}}}
          :dev {:compiler-options {:optimizations :simple}}
          :release {:compiler-options {:optimizations :advanced}}}}}