{:source-paths ["src/cljs"]
 :dependencies []
 :builds
 {:app {:target :esm
        :output-dir "assets/js/cljs-output"
        :js-options {:js-provider :import}
        :modules {:main {:entries [gbo.core]
                         :init-fn [gbo.core/init]}}
        :dev {:compiler-options {:optimizations :simple}}
        :release {:compiler-options {:optimizations :advanced}}}}}